---
import { HeroBio, RecentNews } from "@/components/sections/HeroBio";
import { HomeArticles } from "@/components/sections/HomeArticles";
import { HomePublications } from "@/components/sections/HomePublications";
import ProfileSidebar from "@/components/sections/ProfileSidebar";
import pubBase from "@/data/publications.json";
import pubOverrides from "@/data/publications.override.json";
import Layout from "@/layouts/Layout.astro";
import { getSortedPublishedArticles } from "@/utils/articles";
import { readSiteJson } from "@/utils/json-data";
import { mergePublicationOverrides, type Publication } from "@/utils/publications";

const about = await readSiteJson("about.json");
const news = await readSiteJson("news.json");
const publications = mergePublicationOverrides(
  pubBase as Publication[],
  pubOverrides as Partial<Publication>[]
);
const articles = await getSortedPublishedArticles();
---

<Layout name={about.name}>
  <section class="grid grid-cols-1 lg:grid-cols-[240px_1fr] gap-[clamp(28px,5vw,56px)] mb-12">
    <ProfileSidebar about={about} />
    <div>
      <HeroBio about={about} />
      <RecentNews news={news} />
      <HomePublications publications={publications} />
      <HomeArticles articles={articles} />
    </div>
  </section>
</Layout>
