---
import Layout from "@/layouts/Layout.astro";
import SimpleLayout from "@/components/layout/SimpleLayout";
import ListResources from "@/components/resources/ListResources";
import { readSiteJson } from "@/utils/json-data";

const resources = await readSiteJson<Resource[]>("resources.json");
const page = await readSiteJson<ResourcePageData>("resources_page.json");
---

<Layout
  title={page.title}
  description={page.description}
  canonicalPath={page.canonicalPath}
>
  <SimpleLayout
    eyebrow={page.eyebrow}
    title={page.heading}
    intro={page.intro}
  >
    <div class="mt-8">
      <ListResources client:load resources={resources} page={page} />
    </div>
  </SimpleLayout>
</Layout>
